::-webkit-scrollbar {
    display: none;
}

:root {
    
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    
}
body{
    background-color:white;
    color: black;
}

body.dark-mode-toggle, body.dark-mode-toggle a, body.dark-mode-toggle p{
    background-color:black;
    color: white;
    border-color: #fff;
    


}
body.dark-mode-toggle .dark-mode{
    color: black;
    background-color: white;
}


a {
    color: black;
}

h1, h2, h3 {
    
    text-align: left;
    padding: 14px 16px;
}
p {
    color: black;
    font-size: medium;
    padding: 14px 16px;
    text-align: left;

}
h4{
    
    font-size: medium;
    padding-left: 20px;
    text-align: left;
}


.top-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar{
    overflow: hidden;
    
}
.navbar a{
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px
}
.navbar a:hover{
    color: aqua;
}
.dark-mode{
    float: left;
    color:white;
    background-color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border: 2px solid gray;
    padding: 10px;
    margin: 1px;  
    cursor: pointer;
}




.ai-section-buttons{
    display: flex;
    gap: 20px;
    margin-left: 16px;
    font-size: large;
    }
.about-ai-button{
    border: 2px solid;
    padding: 10px;
    margin: 1px;
    text-decoration: none;
}
.about-ai-button:hover{
    background-color: lightgray;
    cursor: pointer;
}
.resume-container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.skills-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: left;
    margin-top: 20px;
    padding: 14px 16px;
    flex-direction: column;
}
.skills-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    margin-top: 20px;
    padding: 14px 16px;
    flex-direction: row;
}

.skills-boxes{
    border: 2px solid ;
    border-radius: 20px;
    padding: 20px;
    margin: 1px;
    cursor: pointer;
}
.skills-boxes p{
    margin: 0;
    padding: 0;
}

.hidden-info-skills{
    display: none;
}
    .skills-boxes.active-skill .hidden-info-skills{
    display: block;
}
.skills-boxes.active-skill{
    display: flex;
    flex-direction: row;
    
    
}
.project-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: left;
    margin-top: 20px;
    padding: 14px 16px;
    flex-direction: column;
}

.contact-info{
    padding: 14px 16px;
}

